/* body {
  background: rgb(174, 225, 238);
  background: radial-gradient(circle, rgba(174, 225, 238, 1) 0%, rgba(148, 187, 233, 1) 100%);
} */

.App {
  display: grid;
  grid-template-columns: 50% 50%;
  background: #000;
  height: 100vh;
}

.nameClass {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h2,
h4 {
  margin: 0;
}

.buttonTask {
  margin-top: 20px;
  background-color: #236bb4;
  border: none;
  border-radius: 10px;
  height: 30px;
  color: #fff;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .App {
    grid-template-columns: 100%;
  }
}